<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info List</title>
    <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.net/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        th,td{
            text-align: center;
        }
    </style>
</head>
<body style="position: relative;">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                     <a href="/user_home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.session.username}}
                        <span class="caret">
                         <ul class="dropdown-menu">
                             <li><a href="{% url 'change_user_password' user.id %}">修改密码</a></li>
                             <li role="separator" class="divider"></li>
                             <li><a href="/logout">注销</a></li>
                         </ul>
                        </span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="panel panel-default ">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list"></span>
                    用户信息列表
                </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>职位</th>
                    <th>部门</th>
                    <th>总薪水</th>
                    <th>管理员</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.email}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.position}}</td>
                    <td>{{user.department_name}}</td>
                    <td>{{user.total_salary}}</td>
                    {% if user.is_admin %}
                    <td>是</td>
                    {% else %}
                    <td>否</td>
                    {% endif %}
                    <td><a href="{% url 'user_edit' user.id %}" >编辑</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="container">
        <nav aria-label="...">
            <ul class="pagination">
            {{pages}}
            </ul>
        </nav>
    </div>
</body>
</html>